{% extends 'base.html.twig' %}

{% block jumbotron %}
{% endblock jumbotron %}

{% block content %}
    <div class="row">
        <div class="col-lg-8">
            <h1>Editer newsletter</h1>
        </div>
        <div class="col-lg-4">
            sidebar
        </div>
    </div>
{% endblock content %}
